<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png", class: "avatar" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "New Logo", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Community", requests_path(), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "History", history_path, class: "nav-link" %>
          </li>
          <li class="nav-item"> 
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <small class="nav-link" ><%= current_user.wallet.balance.to_i %> 
            <%# coin icon %>
            <i class="fas fa-coins"></i>
            </small>
          </li>
          <li class="nav-item" style="display: contents">
            <%= link_to "Top up", checkout_path, class: "button-secondary" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
