<head>
    <!-- Event snippet for Page view conversion page -->
    <script>
        gtag('event', 'conversion', {'send_to': 'AW-16460051568/rlviCJCdiJIZEPDo4ag9'});
    </script>
</head>
<div class="request-bg">
    <div class="my-container">
        <h1>Here is my idea for your logo</h1>
        <div class="request-info-wrapper">
         <%= cl_image_tag @request.photo.key, width: 300, height: 300, crop: :fill, class: "request-image" %>
        <div class="request-buttons-wrapper">
            <h4><%= @request.topic %></h4>
            <% unless @request.bg_removed? %>
                <% if current_user.wallet.positive_balance? %>
                    <%= link_to "Remove Background (1 token)", remove_bg_path(@request), class: "btn button-primary", data: { turbo_submits_with: "Removing background, please wait..." } %>
                <% else %>
                    <%= link_to "Top up your wallet", checkout_path, class: "button-primary" %>
                <% end %>
            <% end %>
            <%= link_to download_path(@request), class: "btn btn-secondary" do %>
                <i class="fas fa-download"></i> Download
            <% end %>
            <% if current_user.wallet.positive_balance? %>
                <%= link_to "Generate another logo (1 token)", new_prompt_request_path(@prompt), class: "btn btn-secondary", data: { turbo_submits_with: "Generating, please wait..." } %>
            <% else %>
                <%= link_to "Top up your wallet", checkout_path, class: "button-primary" %>
            <% end %>
         </div>
    </div>
</div>