<head>
    <!-- Event snippet for Page view conversion page -->
    <script>
        gtag('event', 'conversion', {'send_to': 'AW-16460051568/rlviCJCdiJIZEPDo4ag9'});
    </script>
</head>
<div class="request-bg">
    <div class="my-container">
        <h1>Here is my idea for your logo</h1>
        <div class="request-info-wrapper">
         <%= cl_image_tag @request.photo.key, width: 300, height: 300, crop: :fill, class: "request-image" %>
        <div class="request-buttons-wrapper">
            <h4><%= @request.topic %></h4>
            <% unless @request.bg_removed? %>
                <% if current_user.wallet.positive_balance? %>
                    <%= link_to "Remove Background (1 token)", remove_bg_path(@request), class: "btn button-primary", data: { turbo_submits_with: "Removing background, please wait..." } %>
                <% else %>
                    <%= link_to "Top up your wallet", checkout_path, class: "button-primary" %>
                <% end %>
            <% end %>
            <%= link_to download_path(@request), class: "btn button-secondary" do %>
                <i class="fas fa-download"></i> Download
            <% end %>
            <%= link_to "Book a free call with a designer", "https://calendly.com/mariabarreca/30min?email=#{current_user.email}&question_0=#{@request.topic}", class: "btn button-secondary", target: "_blank" %>
            <%= link_to "Back", new_prompt_request_path(@prompt), class: "btn button-secondary", data: { turbo_submits_with: "Generating, please wait..." } %>
            <br>
        </div>
    </div>
</div>
<small>Did I hit the mark? <strong><%= link_to "Help me get better", "https://wallylogos.wyshlist.net/wishlists/160/wishes", target: "_blank", class: "nav-link" %></strong></small>