<div class="home-bg">
    <div class="my-container">
        <h1>Hey there👋 I'm Willy, your AI graphic designer</h1>
        <h3>Let me help you create a logo for your business in minutes</h3>
        <div class="form-wrapper">
            <%= simple_form_for @prompt do |f| %>
                <%= f.input :description, label: "Describe your business and logo specifications for our AI graphic designer to understand your needs", placeholder: "I have a mexican restaurant that specializes in seafood dishes from the Yucatan peninsula, I am looking for a logo that represents the sea and the freshness of my ingredients, I'm also looking for the logo to include the colors of the mexican flag.", id: "prompt-description" %>
                <%= f.submit "Submit", class: "button-primary" %>
            <% end %>
        </div>
        <br>
        <br>
        <h3>Here are some logos I've created for other businesses</h3>
        <div class="cards">
            <% @requests.shuffle.take(9).each do |request| %>
                <%= link_to request_path(request) do %>
                    <%= cl_image_tag request.photo.key, width: 300, height: 300, crop: :fill, class: "card-category" %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>