<div class="home-bg">
    <div class="my-container">
        <h1>AI generated Logos for your web apps</h1>
        <div class="form-wrapper">
            <%= simple_form_for @request do |f| %>
                <%= f.input :name, label: "Name of your company", placeholder: "Duck Duck cap and go" %>
                <%= f.input :topic, label: "Generate me a logo featuring...", placeholder: "A duck with a cap" %>
                <%= f.association :style, 
                    label: "Select a style for your logo",
                    as: :radio_buttons,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'category-wrapper',
                    item_wrapper_class: 'category-item',
                    input_html: { class: 'category-selector' } %>
                <div class="form-colors">
                    <%= f.input :color, as: :color, label: "Select a color for your icon", input_html: { class: "home-input" } %>
                </div>
                <%= f.submit "Generate icon", class: "button-primary" %>
            <% end %>
        </div>
    </div>
</div>